body {
    background: rgb(95, 166, 220);
}
.bl1 {
    color: rgb(125, 41, 111);
    font-size: 24px;
}
.bl {
    color: rgb(20, 79, 71);
    font-size: 24px;
}
.bl3{
    color: rgb(34, 20, 79);
    font-size: 26px;
}
.bl5{
    color: rgb(81, 14, 60);
    font-size: 26px;
}